<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Translator App</Name>
    <Version>1.0.0</Version>
    <Title>Translator App</Title>
    <Publisher>Ricardo Ragel de la Torre</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Translator App</StartMenuDir>
    <TargetDir>@HomeDir@/TranslatorApp/1.0.0</TargetDir>
</Installer>
