<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Drawer Translate</Name>
    <Version>1.0.0</Version>
    <Title>Drawer Translate</Title>
    <Publisher>Ricardo Ragel de la Torre</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Drawer Translate</StartMenuDir>
    <TargetDir>@HomeDir@/DrawerTranslate/1.0.0</TargetDir>
</Installer>
